html{
        height: 110%;

}

body{
    background-image: url(sistema/imagens/lobo-uivando-contra-o-fundo-da-lua-cheia-e-a-arte-gerada-pela-rede-neural-selvagem_76080-22516.avif);
    background-size: cover;

}