

body {
    background-image: url('https://th.bing.com/th/id/OIP.r-7yd32sT9PDSH2U8ocpFQHaEF?pid=ImgDet&rs=1');
    background-size: 70em;
  }
  
  #nome{
        position: relative;
        left: 600px;
        font-size: 1.5em;
        
  }

  #endereco{

            position:relative;
            left: 580px;
font-size: 1.5em;


  }

  #numero{

            position:relative;
            left: 587px;
font-size: 1.5em;

  }

  #bairro {

    position:relative;
    left: 599px;
    font-size: 1.5em;;


  }

  #cidade{
        position: relative;
        left: 595px;
        font-size: 1.5em;
  }

  #estado{
    position: relative;
    left: 599px;
font-size: 1.5em;

  }

  #cep{
    position: relative;
    left: 613px;
font-size: 1.5em;

  }

  #telefone{
    position: relative;
    left: 587px;

font-size: 1.5em;
  }

  #cpf{

        position: relative;
        left: 613px;
        font-size: 1.5em;


  }

  #email{
        position: relative;
left: 599px;

font-size: 1.5em;

  }
