.espaco{
    margin-top: 30px;


} 

.col-12{
    margin-top: 30px;

}

.btn{

    width: 100%;
    margin-top: 30px;
    padding: 10px;

}

.form{
    margin-top: 80px;
}

.img{
 margin-top: 50px;
 width: 500px;
}

a:hover{
    opacity: 0.;


}